@model PrometheusMini.Models.Enrollment_174852

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment_174852</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Courses_174852.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses_174852.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_174852.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_174852.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
