@model PrometheusMini.Models.Courses_174852

@{
    ViewBag.Title = "CDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Courses_174852</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enrollment_174852.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enrollment_174852.CourseId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
