@model PrometheusMini.Models.Courses_174852

@{
    ViewBag.Title = "CDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CDetails</h2>

<div>
    <h4>Courses_174852</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enrollment_174852.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enrollment_174852.CourseId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>